.flex_order {
  order: 2;
}

.text_align {
  text-align: right;
}

.shape_f {
  position: absolute;
  right: -2.5em;
  z-index: -1;
  bottom: 0;
  height: 100%;
  width: 100%;
  height: 150px;
  width: 150px;
  background-color: #fcc302;
}
