.app_picture_reviews__section_wrapper {
  padding: 2em 10em;
  background-color: #fcc302;
  color: #ffffff;
}

.picture_reviews_top_section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
}

.picture_reviews_top_section p {
  font-weight: 400;
}

.picture_reviews_top_section h1 {
  font-weight: 700;
}

.picture_reviews_buttom_section {
  padding-top: 1em;
}

.picture_reviews_buttom_section .image_wrapper {
  display: flex;
  column-gap: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
}

.container .image_container {
  height: 300px;
  width: 100%;
}

.image_container img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.image_wrapper p {
  font-size: 13px;
}

.margin {
  margin-top: 1em;
  text-align: center;
}

.buy_now_btn {
  border-radius: 30px;
  background-color: #00bec9;
  padding: 0.5em 1.8em;
  border: none;
  margin-top: 1em;
  color: #ffffff;
}

.buy_now_btn:hover {
  cursor: pointer;
}

/* media query for screen less than 1200px */
@media only screen and (max-width: 1200px) {
  .app_picture_reviews__section_wrapper {
    padding: 4em 5em;
  }
}

/* media query for less than 992px */
@media only screen and (max-width: 992px) {
  .app_picture_reviews__section_wrapper {
    padding: 4em 3em;
  }
  .buy_now_btn:hover {
    cursor: none;
  }
}

/* media query for less than 768px */
@media only screen and (max-width: 768px) {
  .picture_reviews_buttom_section .image_wrapper {
    flex-direction: column;
    row-gap: 1em;
  }
  .container .image_container {
    height: 500px;
  }
}

/* media query for less than 576px */
@media only screen and (max-width: 576px) {
  .app_picture_reviews__section_wrapper {
    padding: 4em 1.5em;
  }
  .container .image_container {
    height: 400px;
  }
}
