.app_video_reviews_section_wrapper {
  display: flex;
  align-items: center;
  padding: 6em 10em;
  column-gap: 2em;
}

.app_right_part {
  flex: 1 1 0%;
}

/* direct child h1, p, Button selector */
.app_right_part > h1,
.app_right_part > p,
.app_right_part > Button {
  padding-bottom: 1em;
}

.app_right_part h1 {
  color: #313243;
  font-weight: 600;
}

.app_right_part p {
  color: #313243;
  font-weight: 400;
}

.app_left_part {
  flex: 1 1 0%;
  position: relative;
}

.yt_container {
  position: relative;
  background-color: #fcc302;
  opacity: 0.9;
}

.yt_container .ic_btn {
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.yt_container .ic_btn:hover {
  background-color: #ffffff;
}

.app_btn {
  padding: 0.7em 2em;
  border-radius: 7px;
  color: #ffffff;
  background: #fcc302;
  border: 2px solid #ffffff;
  margin-top: 1em;
}

.app_btn:hover {
  cursor: pointer;
}

.shape {
  position: absolute;
  left: -2.5em;
  z-index: -1;
  bottom: 0;
  height: 150px;
  width: 150px;
  background-color: #fcc302;
}

/* media query for screen less than 1200px */
@media only screen and (max-width: 1200px) {
  .app_video_reviews_section_wrapper {
    padding: 4em 5em;
  }
  .app_btn:hover {
    cursor: none;
  }
}

/* media query for less than 992px */
@media only screen and (max-width: 992px) {
  .app_video_reviews_section_wrapper {
    padding: 4em 3em;
  }
}

/* media query for less than 768px */
@media only screen and (max-width: 768px) {
  .app_video_reviews_section_wrapper {
    flex-direction: column;
    row-gap: 1em;
  }
  .app_left_part {
    width: 100%;
  }
  .shape {
    display: none;
  }
}

/* media query for less than 576px */
@media only screen and (max-width: 576px) {
  .app_video_reviews_section_wrapper {
    padding: 4em 1.5em;
  }
}
