@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

ul {
  list-style: none;
}

/* media query for xxxl screen */
@media only screen and (min-width: 1600px) {
  .main_container .image_slider_container {
    height: 50vh !important;
  }

  .container .image_container {
    height: 50vh !important;
  }

  .right_section {
    height: 50vh !important;
  }

  .post_image_container {
    height: 50vh !important;
  }
}
